{{define "content"}}
<div class="artists-list row">
  {{range $index, $artist := .Artists}}
  <div class="col-md-3 mb-4" style="width: 20% !important">
    <div class="card">
      <img src="{{$artist.Image}}" class="card-img-top" alt="{{$artist.Name}}" />
      <div class="card-body">
        <h5 class="card-title">{{$artist.Name}}</h5>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{$index}}">
          More Info
        </button>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal{{$index}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel{{$index}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel{{$index}}">
            {{$artist.Name}}
          </h5>
        </div>
        <div class="modal-body">
          <ul>
            <h2>{{$artist.Name}}</h2>
            <li>{{$artist.FirstAlbum}}</li>
            <li>
              <strong>Members:</strong>
              <ul>
                {{range $member := $artist.Members}}
                <li>{{$member}}</li>
                {{end}}
              </ul>
            </li>

            <li>
              <strong>Locations:</strong> <a href="location/{{$artist.ID}}">View Locations</a>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  {{end}}
</div>

<div class="container text-center">
  {{if .HasPrev}}
  <button class="btn btn-primary">
    <a class="text-white" href="/?page={{.PrevPage}}">Previous</a>
  </button>
  {{end}} Page {{.CurrentPage}} of {{.TotalPages}} {{if .HasNext}}
  <button class="btn btn-primary">
    <a class="text-white" href="/?page={{.NextPage}}">Next</a>
  </button>
  {{end}}
</div>
{{end}}
