{{define "content"}}
<div class="artists-list row">
  {{range .Artists}}
  <div class="col-md-3 mb-4">
    <div class="card">
      <img src="{{.Image}}" class="card-img-top" alt="{{.Name}}">
      <div class="card-body">
        <h5 class="card-title">{{.Name}}</h5>
      </div>
    </div>
  </div>
  {{end}}
</div>

<div class="pagination">
  {{if .HasPrev}}
  <button><a href="/?page={{.PrevPage}}">Previous</a></button>
  {{end}} Page {{.CurrentPage}} of {{.TotalPages}} {{if .HasNext}}
  <button><a href=" /?page={{.NextPage}}">Next</a></button>
  {{end}}
</div>
{{end}}