<!doctype html>
<html>

<head>
    <title>Artist Information</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>
    <h1>Artists</h1>
    <ul>
        {{range .Artists}}
        <li>
            {{.Name}}
            <ul>
                {{range $location, $dates := .Concerts}}
                <li>
                    Location: {{$location}}
                    <ul>
                        {{range $dates}}
                        <li>Date: {{.}}</li>
                        {{end}}
                    </ul>
                </li>
                {{end}}
            </ul>
        </li>
        {{end}}
    </ul>

    <script src="/static/js/script.js"></script>
</body>

</html>
